## Tuples

In [1]:
tup1 = (42,"abc",True)

In [2]:
type(tup1)

tuple

In [3]:
tup1[0]

42

In [4]:
tup1[1][1]

'b'

In [6]:
tup1[0] = 3.14

TypeError: 'tuple' object does not support item assignment

In [7]:
vader = "Luke, I am your Father"

In [8]:
vader[0] = 'l'

TypeError: 'str' object does not support item assignment

In [9]:
tup1.index(42)

0

In [10]:
tup1

(42, 'abc', True)

# Dictionaries

In [11]:
#dictionary = {key1:value1, key2: value2}

In [12]:
mydict = {'Vegetable': 10, "icecream": 5}

In [13]:
mydict

{'Vegetable': 10, 'icecream': 5}

In [15]:
mydict['Vegetable']

10

In [16]:
mydict['icecream']=[1,2,3]

In [17]:
mydict

{'Vegetable': 10, 'icecream': [1, 2, 3]}

In [18]:
star_wars_dict = {"Episode IV": [1977],
                  'Episode V':[1980],
                  'Episode VI': [1983]
                 }

In [19]:
star_wars_dict['Episode VI']

[1983]

In [20]:
star_wars_dict.keys()

dict_keys(['Episode IV', 'Episode V', 'Episode VI'])

In [21]:
star_wars_dict["Episode IV"].append("George Lucas")

In [22]:
star_wars_dict

{'Episode IV': [1977, 'George Lucas'],
 'Episode V': [1980],
 'Episode VI': [1983]}

In [23]:
star_wars_dict["Episode V"].append("George Lucas")
star_wars_dict["Episode VI"].append("George Lucas")

In [24]:
star_wars_dict

{'Episode IV': [1977, 'George Lucas'],
 'Episode V': [1980, 'George Lucas'],
 'Episode VI': [1983, 'George Lucas']}

In [25]:
star_wars_dict["Episode I"] = [1999, "George Lucas"]

In [26]:
star_wars_dict

{'Episode I': [1999, 'George Lucas'],
 'Episode IV': [1977, 'George Lucas'],
 'Episode V': [1980, 'George Lucas'],
 'Episode VI': [1983, 'George Lucas']}

In [28]:
star_wars_dict['Episode I'][0] = 2001

In [29]:
star_wars_dict

{'Episode I': [2001, 'George Lucas'],
 'Episode IV': [1977, 'George Lucas'],
 'Episode V': [1980, 'George Lucas'],
 'Episode VI': [1983, 'George Lucas']}

# If - else construct

if (i < 10){
    cout("gege")
}

In [30]:
a = 10
if a > 5:
    print("Hello")
    print("World")
    print("nfwenew")
else:
    print("something else...")

Hello
World
nfwenew

In [37]:
a = -4
if a > 5:
    print("Hello")
    print("World")
    print("nfwenew")
elif a < 5 and a > 0:
    print("something else...")
else:
    print("bfjewbfewfwe")

bfjewbfewfwe

#### create variable temp.
#### if temp is 30 => print ()
#### if temp is less than 25 => print()
#### if temp is less than 15 => print()
#### if temp is less 0 => print()
#### if temp is - 200 => print("you're dead")

In [39]:
a = 10
b = 15

In [40]:
if a == b:
    print("Equal")

In [41]:
temp = 20
if temp == -200:
    print("You're Ice Cream")
elif temp >= 30:
    print("We are in India")
elif temp >= 25:
    print("One of the hotter days in bangalore")
elif temp >= 15:
    print("Typical bangalore day")
elif temp >0:
    print("Ice cream starts to melt")

Typical bangalore day

In [42]:
age = int(input("What's your age? "))
if age < 120:
    print("You can have a lightsaber battle!")
else:
    print("You're too old for this ....!")

What's your age? 42
You can have a lightsaber battle!

# Loops

In [43]:
iteratable = ["Python", 42, 3.14, "pi", "euler", 2.72, "Monty Python"]

In [44]:
iteratable

['Python', 42, 3.14, 'pi', 'euler', 2.72, 'Monty Python']

In [49]:
newlist = []

In [51]:
for i in iteratable:
    print(i*3)

PythonPythonPython
126
9.42
pipipi
eulereulereuler
8.16
Monty PythonMonty PythonMonty Python

In [47]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [52]:
2**8

256

Write a code segment to :
1. Get a list of numbers from **51 to 100** (Hint: Use range function)
2. Make a new list containing the squares of all the numbers of the previous list (Use a Loop)

`3**2 = 9`<br/>
`5**2 = 25`<br/>
`2**8 = 256` <br/>

## While

In [54]:
i = 100
while i > 0:
    print(i)
    i = i-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [55]:
iteratable

['Python', 42, 3.14, 'pi', 'euler', 2.72, 'Monty Python']

In [56]:
len(iteratable)

7

```
i =0
while i < len(iteratable):
    print(**something_here**)
    i = i+1
```

In [60]:
i =0
while i < len(iteratable):
    print(i, iteratable[i])
    i = i+1

0 Python
1 42
2 3.14
3 pi
4 euler
5 2.72
6 Monty Python

In [59]:
i =0
while i < len(iteratable):
    print(iteratable[i]*3)
    i = i+1

PythonPythonPython
126
9.42
pipipi
eulereulereuler
8.16
Monty PythonMonty PythonMonty Python