# More on Lists

## 1. Creating List
## 2. Changing the content of the list
## 3. Palyed around with the contents in the list
## 4. Appended items in a list

### Creating a list

In [2]:
numbers = [1,2,3,4,5,5,7,8,9]

### Changing the content

In [6]:
numbers[5] = 6
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Appending. Can you add element in between?

In [13]:
numbers.append(42)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10, 10, 10, 42]

### insert(index, value)

In [14]:
numbers.insert(4,500)
print(numbers)

[1, 2, 3, 4, 500, 5, 6, 7, 8, 9, 10, 10, 10, 10, 10, 10, 42]

# range(x,n)
### Gives back a list with x to n-1 elements

In [15]:
a = range(10,500)
print(a[90])

100

# Concatenation of lists

In [17]:
numbers + [659,538,777,456,123]

[1,
 2,
 3,
 4,
 500,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 42,
 659,
 538,
 777,
 456,
 123]

# Removing elements from the list

In [18]:
numbers

[1, 2, 3, 4, 500, 5, 6, 7, 8, 9, 10, 10, 10, 10, 10, 10, 42]

In [19]:
atluae = numbers.pop()

In [20]:
numbers

[1, 2, 3, 4, 500, 5, 6, 7, 8, 9, 10, 10, 10, 10, 10, 10]

In [21]:
atluae

42

main_list = [10,40,60,18,42,42,84,126] <br/>
delted_items = [] <br/>
    Delete atleast elements from `main_list` and add all the elements that you deleted to `deleted_items`.

## Remember string slicing? Do the same thing for list now. What do you get?

In [23]:
nepoleon = "Able was i ere i saw elba"
print(nepoleon[::-1])
non_palindrome_sting = "Luke, I am your father!!!!!!!!! Nooooooooo"
print(non_palindrome_sting[::-1])

able was i ere i saw elbA
oooooooooN !!!!!!!!!rehtaf ruoy ma I ,ekuL

In [27]:
a = "Big brother is watching"
print(a[2:15:2])

gbohri

# Nested Lists

In [28]:
star_wars_episodes = ["Episode IV", "Episode V", "Episode VI", "Episode I", "Episode II", "Episode III"]

In [29]:
star_wars_episodes

['Episode IV',
 'Episode V',
 'Episode VI',
 'Episode I',
 'Episode II',
 'Episode III']